<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.strongbox.mac.mcguill</string>
	</array>
	<key>com.apple.security.device.usb</key>
	<true/>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
	<key>com.apple.security.files.bookmarks.document-scope</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.print</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Application Support/librewolf/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Mozilla/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Google/Chrome/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Google/Chrome Beta/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Google/Chrome Dev/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Google/Chrome Canary/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Chromium/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Microsoft Edge/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Microsoft Edge Beta/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Microsoft Edge Dev/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Microsoft Edge Canary/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Vivaldi/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Arc/User Data/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Sidekick/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Orion/NativeMessagingHosts/</string>
		<string>/Library/Application Support/Thorium/NativeMessagingHosts/</string>
        <string>/Library/Application Support/BraveSoftware/Brave-Browser/NativeMessagingHosts/</string>
        <string>/Library/Application Support/TorBrowser-Data/Browser/Mozilla/NativeMessagingHosts/</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.markmcguill.strongbox.mac</string>
	</array>
</dict>
</plist>
